# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain

*.gitattributes   text eol=crlf
*.gitignore       text eol=crlf
*.modinfo         text eol=crlf
*.patch           text eol=crlf
*.md              text eol=crlf
*.frames          text eol=crlf
*.animation       text eol=crlf
*.disabled        text eol=crlf
*.cinematic       text eol=crlf
*.codex           text eol=crlf
*.codexitem       text eol=crlf
*.damage          text eol=crlf
*.config          text eol=crlf
*.dungeon         text eol=crlf
*.head            text eol=crlf
*.legs            text eol=crlf
*.chest           text eol=crlf
*.back            text eol=crlf
*.item            text eol=crlf
*.consumable      text eol=crlf
*.gun             text eol=crlf
*.projectile      text eol=crlf
*.matitem         text eol=crlf
*.sword           text eol=crlf
*.generatedshield text eol=crlf
*.thrownitem      text eol=crlf
*.grapplinghook   text eol=crlf
*.tillingtool     text eol=crlf
*.miningtool      text eol=crlf
*.flashlight      text eol=crlf
*.npctype         text eol=crlf
*.txt             text eol=crlf
*.object          text eol=crlf
*.questtemplate   text eol=crlf
*.recipe          text eol=crlf
*.structure       text eol=crlf
*.species         text eol=crlf
*.tenant          text eol=crlf
*.material        text eol=crlf
*.matmod          text eol=crlf
*.treasurepools   text eol=crlf