language: node_js
node_js: node
install: npm install -g jsonlint-cli jsmin
script:
  # Here is how the monster of a command below works
  # First it finds all files in the directory and filters out those from the .jsonlintignore file
  # then it sends those to xargs to preserve the spaces in the folder and file names
  # xargs then runs a bash terminal for jsmin
  # if jsmin has an error the terminal will print the error and cause xargs itself to error
  - find . -type f ! -path "*/\.*" $(printf "! -wholename %s " $(cat .jsonlintignore)) -print0 | xargs -0 -I{} bash -c 'result=$(jsmin -l 1 --overwrite "{}" 2>&1)|| (printf "\nerror in {}$result"; exit 1)'
  - jsonlint-cli *.* **/*.*
