{
    "version" : "1.7",

    "welcome" : "----- 1.8 -----
^orange;Alabaster^reset; here once more, coming at you HOT with a brand new update! Your ship schematics have been updated to give you a much softer and more pleasing-to-the-eye back wall which should reduce echoes considerably! Finally, you don't have to hear your footsteps for ten minutes after you stop moving.
The ^orange;Colorizer^reset; has also been updated, and should no longer turn things invisible! If it doesn't have built-in color options, it just won't do anything to it!
Hmm....

Oh! This one's fun. Your ships have also been upgraded with a R2-MB Cleaning drone! Unfortunately, the one they scanned in was broken and won't actually do much other than wander around and recharge at its home station. You'll have to supply its base station with batteries to keep it charged up, but they're easy to make, just give your nanolathes a bit of copper and graphene. They tell me there's a battery with a MUCH higher capacity in the works, so keep your ears perked!

We've gotten in contact with Terramart, and they will now accept Avali produce! And we told the shipyard captain it was okay to start selling avali hoverbike controllers again, no clue why he stopped.

I just wanted you all to know that I am PERFECTLY SAFE and NOT being held hostage by someone under my desk holding a knife to my ankles. Thank you for tuning in, and see you next time! Hopefully.",

    "changelog" : "----- 1.8 -----
^orange;Alabaster^reset; here once more, coming at you HOT with a brand new update! Your ship schematics have been updated to give you a much softer and more pleasing-to-the-eye back wall which should reduce echoes considerably! Finally, you don't have to hear your footsteps for ten minutes after you stop moving.
The ^orange;Colorizer^reset; has also been updated, and should no longer turn things invisible! If it doesn't have built-in color options, it just won't do anything to it!
Hmm....

Oh! This one's fun. Your ships have also been upgraded with a R2-MB Cleaning drone! Unfortunately, the one they scanned in was broken and won't actually do much other than wander around and recharge at its home station. You'll have to supply its base station with batteries to keep it charged up, but they're easy to make, just give your nanolathes a bit of copper and graphene. They tell me there's a battery with a MUCH higher capacity in the works, so keep your ears perked!

We've gotten in contact with Terramart, and they will now accept Avali produce! And we told the shipyard captain it was okay to start selling avali hoverbike controllers again, no clue why he stopped.

I just wanted you all to know that I am PERFECTLY SAFE and NOT being held hostage by someone under my desk holding a knife to my ankles. Thank you for tuning in, and see you next time! Hopefully.

-----   1.7   -----
^orange;Alabaster^reset; here again! Now you can actually craft those nifty weighted grappling hooks I told you about last time!
Also, there's a new station, the ^orange;Colorizer^reset;, that we've added to your portable printers to let you change the color of most avali-themed placables, like doors and tent parts!
-----   1.6   -----
^orange;Alabaster^reset; here, welcome to the new broadcast system thanks to Ztarbound!
Sorry it's been so long, but things have been hectic over here. So hectic I nearly escaped!
I didn't, though, because they thought of everything.

But anyways! With all the hectic stuff, we only got a few improvements!
First off, a new grappling hook available in the same place as the old one. The, uh, farming table, I think, I don't get to farm so I don't know. But this new hook will actually fall down!
Second, the existing hooks have new... well, hooks! They'll stick better in walls, rather than just happening to wedge themselves between rocks.",

    "credits" : "Too many folks to list.",
    "info" : ""
}
