{
    "version" : "1.7",

    "welcome" : "-----   1.7   -----
^orange;Alabaster^reset; here again! Now you can actually craft those nifty weighted grappling hooks I told you about last time!
Also, there's a new station, the ^orange;Colorizer^reset;, that we've added to your portable printers to let you change the color of most avali-themed placables, like doors and tent parts!",

    "changelog" : "-----   1.7   -----
^orange;Alabaster^reset; here again! Now you can actually craft those nifty weighted grappling hooks I told you about last time!
Also, there's a new station, the ^orange;Colorizer^reset;, that we've added to your portable printers to let you change the color of most avali-themed placables, like doors and tent parts!
-----   1.6   -----
^orange;Alabaster^reset; here, welcome to the new broadcast system thanks to Ztarbound!
Sorry it's been so long, but things have been hectic over here. So hectic I nearly escaped!
I didn't, though, because they thought of everything.

But anyways! With all the hectic stuff, we only got a few improvements!
First off, a new grappling hook available in the same place as the old one. The, uh, farming table, I think, I don't get to farm so I don't know. But this new hook will actually fall down!
Second, the existing hooks have new... well, hooks! They'll stick better in walls, rather than just happening to wedge themselves between rocks.",

    "credits" : "Too many folks to list.",
    "info" : ""
}