{
  "friendlyguard_hail": {
    "avali": {
      "default": [
        "Perimeter secure.",
        "*Hums to self*",
        "I'm overworked, I'm starting to think the birds are out to get me.",
        "When are we going to see some action?",
        "Huh, what, sorry. I was checking my messages."
      ]
    }
  },
  "dragoon_attack": {
    "default": [
      "Taste the cold steel of my spear!",
      "You should not have come here...",
      "Death to the interlopper!"
    ]
  }
}
