{
  "colorInfo" : [
    { "name": "^#AAAAAA;Default", "value": "default" },
    { "name": "^#FF2020;Red", "value": "red" },
    { "name": "^#2020FF;Blue", "value": "blue" },
    { "name": "^#20FF20;Green", "value": "green" },
    { "name": "^#FFFF40;Yellow", "value": "yellow" },
    { "name": "^#E17820;Orange", "value": "orange" },
    { "name": "^#8020FF;Purple", "value": "purple" },
    { "name": "^#404040;Black", "value": "black" },
    { "name": "^#FFFFFF;White", "value": "white" }
  ]
}