{
  "colorInfo" : [
    { "name": "Default", "value": "default" },
    { "name": "Red", "value": "red" },
    { "name": "Blue", "value": "blue" },
    { "name": "Green", "value": "green" },
    { "name": "Yellow", "value": "yellow" },
    { "name": "Orange", "value": "orange" },
    { "name": "Purple", "value": "purple" },
    { "name": "Black", "value": "black" },
    { "name": "White", "value": "white" }
  ]
}